<!DOCTYPE html5>
<html itemscope itemtype="http://schema.org/Person">

<head>
<title>Andrew Russell</title>

<meta itemprop="name" content="Andrew Russell">
<meta itemprop="description" content="Andrew Russell's personal website, detailing all of the work he has put into his music and software engineering over the years.">
<meta itemprop="image" content="http://ajrussell.ca/data/images/personalProjects/Personal%20Website.png">

<link rel='stylesheet' type='text/css' href='main.css'>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22276754-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
</script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    {parsetags: 'explicit'}
</script>

</head>

<body>
<h1><%= about.name %></h1>
<h2><%= about.title %></h2>

<hr>

<div class='navigation'>
  <a href="/home">Home</a>
  <a href="/music">Music</a>
  <a href="/software">Software</a>
  <a href="/resumes">Resumes</a>
</div>

<hr>

