Body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Helvetica, arial, freesans, clean, sans-serif;
    font: font-family: "Segoe UI", Helvetica, arial, freesans, clean, sans-serif;
    background: white;
    background: -webkit-linear-gradient(horizontal, #EEF, #FFF 50%);
    background: -moz-linear-gradient(horizontal, #EEF, #FFF 50%);
    background: -ms-linear-gradient(horizontal, #EEF, #FFF 50%);
}

.PageWidth {
  max-width: 950px;
  min-width: 800px;
  margin: auto;
}

