.equipment .Boxes > a {
  width: 48%;
}

.same_height A>img {
  width: auto;
  height: 400px;
}

.same_height.guitars A>img {
  height: 400px;
}

.same_height.pedals A>img {
  height: 217px;
}

.artist .Post p {
  margin-top: 20px;
  margin-bottom: 0;
}

.artist .Post .SongList {
  margin-top: 20px;
}

.home .Post img {
  width: 70%;
  margin-left: 15%;
}

.resumeWrapper {
  width: 95%;
}

