.HeaderFont {
    font-family: "Segoe UI";
    font: "Segoe UI";
}

.Banner {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 42px;
    min-width: 800px;

    color: #F4F4F4;
    text-shadow: 0px 0px 4px #333;
    background: #88D07C;
    background: -webkit-linear-gradient(#68BB5F, #3F974A);
    background: -moz-linear-gradient(#68BB5F, #3F974A);
    background: -ms-linear-gradient(#68BB5F, #3F974A);

    -webkit-box-shadow: 0px 2px 3px #1C7528;
    -moz-box-shadow: 0px 2px 3px #1C7528;
    -ms-box-shadow: 0px 2px 3px #1C7528;

    cursor: default;

    z-index: 1;
}

.Banner H1,
.Banner H2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 42px;
}

.Banner H1 {
    font-size: 24px;
}

.Banner H2 {
    font-size: 22px;
    margin-left: 14px;
    font-weight: 500;
}

.Banner .PlusOne {
    position: absolute;
    right: 10px;
    top: 10px;
}

.Head {
    width: 95%;
    margin: auto;
    margin-bottom: 15px;

    padding: 5px 5px;

    border: 1px solid gray;
    border-right: none;
    border-top: none;
    border-radius: 0px 0px 0px 5px;

    background: white;
    background: -webkit-linear-gradient(bottom left, beige, white);
    background: -moz-linear-gradient(bottom left, beige, white);
    background: -ms-linear-gradient(bottom left, beige, white);
}

.Head H1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.Main {
    position: relative;
    margin-bottom: 21px;
}

.Main > div {
    display: inline-block;
}

.Main > .Page {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    width: calc(100% - 177px);
}

.Main > .Navigation {
    width: 175px;
}

.ListHeader {
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid grey;
}

.List {
    display: inline-block;
    margin: 6px 10px;
    vertical-align: top;
}

.List>.Title {
    font-weight: 700;
    border-bottom: 2px solid grey;
}

.SubSection {
    position: relative;
}

.SubSection>.Title {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px grey solid;
}

.SubSection>.SubTitle {
    position: absolute;
    top: 0px;
    right: 0px;
}

.SubSection>.Content {
    margin: 10px 5px;
    text-indent: 30px;
}

.SubSection>.Content>* {
    text-indent: 0px;
}

.Navigation {
    position: relative;
    padding-top: 25px;
    vertical-align: top;
}

.Navigation>.Title {
    display: block;
    margin-bottom: 6px;
    padding-left: 5px;
    
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.Navigation>.Pages {
    position: relative;
    display: block;
    margin-bottom: 2px;
    padding-left: 2px;
}

.Navigation > .Pages.Image {
    line-height: 100%;
    font-weight: 700;
    font-variant: small-caps;
    font-size: 18px;
    line-height: 40px;
}

.Navigation > .Pages.Header {
    margin-top: 15px;
    font-weight: 700;
    font-variant: small-caps;
    color: #555;
}

.Navigation > .Pages > img {
    width: 40px;
    padding-right: 15px;
    vertical-align: bottom;
}


.PageTitle {
    width: 100%;
    margin-bottom: 25px;

    color: black;
    font-size: 18px;
    font-weight: 700;

    border-bottom: 1px solid black;
}

.Boxes>A {
    display: inline-block;
    vertical-align: top;
    padding: 1%;

    cursor: pointer;
    outline: none;

    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
}

.Boxes>A:hover,
.Boxes>A:focus {
    box-shadow: 0px 0px 5px black;
}

.Boxes>A>Img {
    width: 100%;
    height: auto;
}

.Boxes>A>Div {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
}

.Audio {
    position: fixed;
    left: 0px;
    bottom: 0px;
    text-align: left;
    z-index: 1;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
}

.Audio>Span {
    position: relative;
    display: block;

    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.Audio>Div {
    position: relative;
    padding: 10px 40px;
    border: 1px solid black;
    border-bottom: none;

    font-size: 18px;
    font-weight: 700;

    background: #EFEFEF;
    background: -webkit-linear-gradient(#E0E0E0, #F4F4F4 50%);
    background: -moz-linear-gradient(#E0E0E0, #F4F4F4 50%);
    background: -ms-linear-gradient(#E0E0E0, #F4F4F4 50%);
}

.Audio>Div>Div {
    margin-bottom: 8px;
}

.Audio .Prev,
.Audio .Next {
    position: absolute;
    top: 50px;
    width: 25px;
    height: 25px;
    outline: none;
    cursor: pointer;
}

.Audio .Prev {
    left: 10px;
    background-image: url('/images/icons/Prev_Up.png');
}

.Audio .Prev:hover,
.Audio .Prev:focus {
    background-image: url('/images/icons/Prev_Down.png');
}

.Audio .Next {
    right: 10px;
    background-image: url('/images/icons/Next_Up.png');
}

.Audio .Next:hover,
.Audio .Next:focus {
    background-image: url('/images/icons/Next_Down.png');
}

.Audio .Artist {
    padding: 0px;
}

.Audio .Album {
    font-weight: 500;
    margin-left: 20px;
}

.Audio .Song {
    margin-left: 20px;
}

A.NoStyle {
    color: black;
    text-decoration: none;
}

.ButtonMain {
    padding: 0px 2px;

    color: black;
    text-shadow: 0px 0px 1px rgba(1, 1, 1, 0);
    text-size: 18px;

    cursor: pointer;

    border: 1px solid black;
    border-radius: 5px;
    outline: none;

    background: #BCD;
    background: -webkit-linear-gradient(#EEE, #BCD);
    background: -moz-linear-gradient(#EEE, #BCD);
    background: -ms-linear-gradient(#EEE, #BCD);

    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
}

.ButtonMain:hover,
.ButtonMain:focus {
    text-shadow: 0px 0px 1px rgba(1, 1, 1, 0.5);

    background: lightblue;
    background: -webkit-linear-gradient(#BCD, #EEE);
    background: -moz-linear-gradient(#BCD, #EEE);
    background: -ms-linear-gradient(#BCD, #EEE);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.ButtonLink {
    text-size: 18px;
    vertical-align: middle;

    cursor: pointer;

    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    -ms-transition-duration: 150ms;
}

.ButtonLink:hover,
.ButtonLink:focus {
    background: rgba(116, 218, 94, 0.4);
}

.ButtonLink.Selected {
    background: #88D07C;
  }
